<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>I am a hands on, hard working, and fast learning Industrial Engineer from Upstate New York</h2>
        <p class="lead"> Currently working at <a target="_blank" href="https://www.onshape.com/"> <strong> Onshape, Inc.</strong></a> in Boston, Massachusetts</p>
        <p class="lead"> Working within our Product team, I do mostly do Quality Assurance and Release Management of Onshape. Being a startup, I also write UX specs and help out with customer support. I even give sales demos from time to time. </p>
        <p class="lead"> In college and in my free time, I like to take on manufacturing projects that push myself to learn more manufacturing methods. </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
