<header id="top" class="header">
  <div class="text-vertical-right">
    <h1 style="font-size:5vw">Jason Slingerland</h1>
    <h3 style="font-size:3.5vw">Industrial Engineer</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">About me</a>
  </div>
  <div class="bottomleft">
        <a target="_blank" href="https://cad.onshape.com/documents/b039f407c82ebd63f6399729/w/63d58d89c1537a23dba90195/e/6acc95a56733abb90e77bf76" class="btn btn-dark btn-lg">My sheet metal cabinet</a>
  </div>
</header>
