<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="2-DucatiRestoration/ducati.html">
                <img class="img-portfolio img-responsive" src="2-DucatiRestoration/23-Runningbike.JPG">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="1-LacewoodCoffeeTable">
                <img class="img-portfolio img-responsive" src="1-LacewoodCoffeeTable/01-Renderafterdesign.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="3-FSAE-RM21-Uprights">
                <img class="img-portfolio img-responsive" src="3-FSAE-RM21-Uprights/UprightDesignReview.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://drive.google.com/drive/folders/0B3BtSGAYZKnxdzVEZEZhbDI3ZFU" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
