<section id="resume" class="services bg-primary">
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Check out my resume for more things that I have done</h3>
        <a target="_blank" href="Jason Slingerland Resume.pdf" class="btn btn-lg btn-light">View</a>
        <a href="Jason Slingerland Resume.pdf" class="btn btn-lg btn-dark" download>Download</a>
      </div>
    </div>
  </div>
</aside>
</section>
